@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* header start*/
.container {
  width: 100%;
  height: 100vh;
  color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(46, 41, 41);
}

header .bar a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

header .header-links a {
  color: white;
  font-size: 25px;
  margin: 5px;
  text-decoration: none;
}

header .brand {
  display: flex;
  align-items: center;
  color: white;
  font-family: "poppins", sans-serif;
}
header .brand p {
  font-size: 70px;
  font-weight: bold;
  padding-left: 10px;
}

/* header start*/

/*row-col-1 start*/
.row {
  display: flex;
  width: 100%;
  padding: 0 8%;
  background-color: rgb(46, 41, 41);
  height: 100%;
  font-family: "poppins", sans-serif;
  color: white;
}
.row .col-1,
.row .col-2 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
}
.row .col-1 h1 {
  font-size: 70px;
  padding-right: 10px;
  line-height: 100px;
  letter-spacing: 5px;
}

.row .col-1 p {
  padding-right: 20px;
  line-height: 1.4;
}
.row .col-1 .price {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  margin-top: 10px;
}

.row .col-1 .h2 {
  font-size: 25px;
  line-height: 1;
}

.row .col-1 .buttons {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.row .col-1 .buttons button,
.row .col-1 .buttons a {
  display: inline-block;
  width: fit-content;
  padding: 18px 50px;
  background: red;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.5s ease-in-out;
}

.row .col-1 .buttons a:hover,
.row .col-1 .buttons button:hover {
  background: rgb(109, 23, 23);
  transform: translateY(-4px);
}

/*row-col-1 end*/

/*row-col-2 start*/

.col-2 {
  background-color: red;
  position: relative;
}
.col-2::before {
  content: "NIKE";
  position: absolute;
  font-size: 200px;
  color: white;
  margin: 10% 10%;
  margin-top: 100%;
  opacity: 0.3;
  font-weight: bold;
  letter-spacing: 10px;
}

.row .col-2 .nike-img {
  width: 100%;
  text-align: center;
}

.col-2 .nike-img img {
  width: 80%;
  transform: rotate(-12deg);
  transition: 0.7s ease;
}

.col-2 .nike-img img:hover {
  transform: rotate(0deg);
}

.small-img-wrapper {
  display: flex;
  width: 80%;
  margin: 70px auto 0;
  align-items: center;
  justify-content: space-around;
}

.small-img {
  width: 120px;
  height: 80px;
  align-items: center;
}
.small-img img {
  width: 120px;
  transform: rotate(-15deg);
  transition: 0.7s ease;
}
.small-img img:hover {
  transform: rotate(0);
}

.small-img:nth-child(1) {
  background: #b9c8ff;
}

.small-img:nth-child(2) {
  background: #9dff98;
}
.small-img:nth-child(3) {
  background: #b1ffdd;
}
.small-img:nth-child(4) {
  background: #ff6767;
}

/*row-col-1 end*/
